{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * WHM plugin for Craft CMS
 *
 * WHMUtility Utility Content
 *
 * @author    Dodo Technologies Ltd
 * @copyright Copyright (c) 2020 Dodo Technologies Ltd
 * @link      https://www.dinkydodo.com
 * @package   WHM
 * @since     1.0.0
 */
#}

<h1>WHMUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@dinkydodoukwhm/whm/assetbundles/whmutilityutility/dist', true) ~ '/img/WHMUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>